@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


:root {
    --tj-ff-body: 'Rubik', sans-serif;
    --tj-ff-heading: 'Space Mono', monospace;
    --tj-ff-russo: 'Rubik', sans-serif;
    --tj-ff-fontawesome: 'Space Mono', monospace;

    --tj-body: #dddddd;
    --tj-white: #ffffff;
    --tj-black: #000000;
    --tj-black-2: #050709;
    --tj-heading-primary: #102039;
    --tj-heading-secondary: #ea1826;
    --tj-theme-primary: #8750f7;
    --tj-theme-secondary: #2a1454;
    --tj-theme-accent-1: #0f0715;
    --tj-theme-accent-2: #140c1c;
    --tj-grey-1: #747779;
    --tj-grey-2: #d9d9d9;
    --tj-grey-3: #dddddd;
    --tj-grey-4: #22272c;
    /* ----------------------------------
   @font weight declaration
  ------------------------------------ */
    --tj-fw-normal: normal;
    --tj-fw-elight: 200;
    --tj-fw-light: 300;
    --tj-fw-regular: 400;
    --tj-fw-medium: 500;
    --tj-fw-sbold: 600;
    --tj-fw-bold: 700;
    --tj-fw-ebold: 800;
    --tj-fw-black: 900;
    /* ----------------------------------
    @font size declaration
  ------------------------------------ */
    --tj-fz-body: 16px;
    --tj-fz-btn: 15px;
    --tj-fz-p: 18px;
    --tj-fz-h1: 65px;
    --tj-fz-h2: 45px;
    --tj-fz-h3: 30px;
    --tj-fz-h4: 24px;
    --tj-fz-h5: 22px;
    --tj-fz-h6: 18px;
    --tj-fz-sub-title: 36px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    scrollbar-width:thin;
    scrollbar-color: var(--tj-theme-primary) var(--tj-theme-secondary);
    
    background: var(--tj-theme-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--tj-theme-primary);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--tj-ff-body);
    font-size: var(--tj-fz-body);
    font-weight: var(--tj-fw-regular);
    color: var(--tj-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--tj-ff-heading);
    font-weight: var(--tj-fw-bold);
    line-height: 1.2;
    color: var(--tj-white);
    margin-bottom: 15px;
}

h1 {
    font-size: var(--tj-fz-h1);
}

h2 {
    font-size: var(--tj-fz-h2);
}

h3 {
    font-size: var(--tj-fz-h3);
}

h4 {
    font-size: var(--tj-fz-h4);
}

h5 {
    font-size: var(--tj-fz-h5);
}

h6 {
    font-size: var(--tj-fz-h6);
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a h1:hover,
a h2:hover,
a h3:hover,
a h4:hover,
a h5:hover,
a h6:hover {
    text-decoration: none;
}

.site-content {
    overflow: hidden;
}

.ul-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tj-btn-primary {
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: var(--tj-fz-btn);
    line-height: 1;
    font-weight: var(--tj-fw-bold);
    color: var(--tj-white);
    text-transform: capitalize;
    background-size: 200%;
    background-image: -webkit-gradient( linear, left top, right top, from(var(--tj-theme-primary)), color-stop(51%, var(--tj-theme-secondary)), to(var(--tj-theme-primary)));
    background-image: -o-linear-gradient( left, var(--tj-theme-primary) 0%, var(--tj-theme-secondary) 51%, var(--tj-theme-primary) 100%);
    background-image: linear-gradient( to right, var(--tj-theme-primary) 0%, var(--tj-theme-secondary) 51%, var(--tj-theme-primary) 100%);
    border: none;
    border-radius: 50px;
    padding: 17px 35px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.tj-btn-primary i {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.tj-btn-primary:hover {
    background-position: -100%;
}

.tj-btn-primary:hover i {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.tj-btn-secondary {
    text-decoration: none;
    font-size: var(--tj-fz-btn);
    line-height: 1;
    font-weight: var(--tj-fw-medium);
    color: var(--tj-theme-primary);
    border-radius: 50px;
    padding: 17px 35px;
    border: 1px solid var(--tj-theme-primary);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 1px;
}

.tj-btn-secondary:hover {
    background: var(--tj-theme-primary);
}

.lead {
    font-size: 20px;
}

.social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-icons li {
    margin-right: 20px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons li a {
    color: white;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.social-icons li a i {
    transition: 0.3s;
}

.social-icons li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
    z-index: -1;
}

.social-icons li a:hover {
    border: 1px solid var(--tj-theme-primary);
    color: black;
}

.social-icons li a:hover::before {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.funfact-item {
    gap: 15px;
}

.funfact-item .number {
    font-size: 64px;
    line-height: 1;
    font-weight: var(--tj-fw-bold);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-header {
    margin-bottom: 50px;
    max-width: 700px;
    width: 100%;
}

.section-header .section-title {
    font-size: 45px;
    background: var(--tj-theme-primary);
    background: -webkit-gradient( linear, left top, right top, from(var(--tj-theme-primary)), to(var(--tj-white)));
    background: -o-linear-gradient( left, var(--tj-theme-primary) 0%, var(--tj-white) 100%);
    background: linear-gradient( to right, var(--tj-theme-primary) 0%, var(--tj-white) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.section-header p:last-child {
    margin-bottom: 0;
}


/*
* ===============================
* START: Headers
* ===============================
*/
.tj-header-area {
    padding: 40px 0 20px;
    position: relative;
    z-index: 9;
    background-color: var(--tj-black-2);
}

.tj-header-area.header-absolute {
    position: absolute;
    background-color: transparent;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.tj-header-area.header-2 {
    width: 100%;
    position: fixed;
    top: -90px;
    left: 0;
    padding: 15px 0;
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
    background-color: var(--tj-black-2);
    box-shadow: 0 0 30px rgba(135, 80, 247, 0.2);
}

.tj-header-area.sticky {
    top: 0;
    opacity: 1;
    animation: bounceInDown 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}


.tj-header-area .logo-box {
    max-width: 60px;
    width: 100%;
    margin-right: 35px;
}

.tj-header-area .logo-box a {
    display: inline-block;
}

.tj-header-area .header-info-list ul li {
    margin-right: 25px;
}

.tj-header-area .header-info-list ul li a {
    color: var(--tj-white);
    font-size: var(--tj-fz-btn);
    font-weight: var(--tj-fw-medium);
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}

.tj-header-area .header-info-list ul li a:hover {
    color: var(--tj-theme-primary);
}

.tj-header-area .header-menu {
    margin-left: auto;
}

.tj-header-area .header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    column-gap: 35px;
}

.tj-header-area .header-menu ul li {
    position: relative;
}

.tj-header-area .header-menu ul li a {
    display: flex;
    color: var(--tj-white);
    font-size: var(--tj-fz-btn);
    font-weight: var(--tj-fw-medium);
    text-decoration: none;
    position: relative;
    padding: 10px 0;
}

.tj-header-area .header-menu ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background: var(--tj-theme-primary);
    background: -o-linear-gradient( 190deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    bottom: 9px;
    left: 0;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.tj-header-area .header-menu ul li.current-menu-ancestor a::before,
.tj-header-area .header-menu ul li:hover a::before {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.tj-header-area .header-button {
    margin-left: 55px;
}

.tj-header-area .menu-bar {
    margin-left: 25px;
}

.tj-header-area .menu-bar button {
    border: none;
    padding: 0;
    background-color: transparent;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform-origin: center center;
    transform: rotate(0deg);
    cursor: pointer;
    transition: transform 300ms ease;
}

.tj-header-area .menu-bar button span {
    height: 3px;
    width: 35px;
    display: block;
    background: var(--tj-white);
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    margin-left: auto;
}

.tj-header-area .menu-bar button span:nth-child(2) {
    width: 40px;
    transition-delay: 200ms;
}

.tj-header-area .menu-bar button span:nth-child(3) {
    width: 30px;
}

.tj-header-area .menu-bar button span:nth-child(4) {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 3px;
    height: 0;
    transition: height 400ms;
}

.tj-header-area .menu-bar.menu-bar-toggeled button {
    transform: rotate(45deg);
    transition-delay: 400ms;
}

.tj-header-area .menu-bar.menu-bar-toggeled button span:nth-child(1) {
    width: 0;
}

.tj-header-area .menu-bar.menu-bar-toggeled button span:nth-child(3) {
    width: 0;
}

.tj-header-area .menu-bar.menu-bar-toggeled button span:nth-child(4) {
    height: 40px;
    transition: height 200ms ease;
    transition-delay: 200ms;
}

/* END: Headers */

/*
* ===============================
*  START: Hero Section
* ===============================
*/

.hero-section {
    padding: 200px 0 50px;
    background: var(--tj-theme-accent-1);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.hero-section:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 322px;
    height: 308px;
    border-radius: 50%;
    background: var(--tj-theme-primary);
    background: -o-linear-gradient( 190deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    -webkit-filter: blur(150px);
    filter: blur(150px);
    margin-right: -5%;
    margin-top: -5%;
    z-index: -1;
}

.hero-section .intro_text svg {
    font-family: var(--tj-ff-russo);
    position: absolute;
    width: 100%;
    height: 110%;
    left: 46%;
    top: 75%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    animation: 5s pulsate infinite alternate ease-in-out;
}

.hero-section .intro_text svg text {
    text-transform: uppercase;
    /* animation: stroke 4s; */
    stroke-width: 1.2;
    stroke: var(--tj-theme-secondary);
    fill: transparent;
    font-size: 240px;
    display: inline-block;
    opacity: 1;
}

.hero-section .intro_text svg text.animate-stroke {
    animation: stroke 6s;
    /* Adjust the duration as needed */
    opacity: 0.7;
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 1;
    }
    100% {
        stroke-dashoffset: 100%;
        stroke-dasharray: 100% 0;
        stroke-width: 1;
    }
}

@keyframes pulsate {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.hero-sub-title {
    font-size: var(--tj-fz-sub-title);
    font-weight: var(--tj-fw-bold);
    display: block;
    margin-bottom: 10px;
}

.hero-title {
    font-size: 65px;
    background: var(--tj-theme-primary);
    background: -webkit-gradient( linear, left top, right top, from(var(--tj-theme-primary)), to(var(--tj-white)));
    background: -o-linear-gradient( left, var(--tj-theme-primary) 0%, var(--tj-white) 100%);
    background: linear-gradient( to right, var(--tj-theme-primary) 0%, var(--tj-white) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content-box .lead {
    max-width: 550px;
    width: 100%;
    margin-bottom: 0;
}

.hero-content-box .button-box {
    margin-top: 50px;
    gap: 25px;
}

.hero-image-box {
    position: relative;
}

.hero-image-box:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: var(--tj-theme-primary);
    background: -o-linear-gradient( 190deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    -webkit-filter: blur(150px);
    filter: blur(150px);
    margin-left: -5%;
    margin-bottom: -5%;
}

.hero-section .funfact-area {
    margin-top: 120px;
}

/* END: Hero Section */

/*
* ===============================
*  START: Services Section
* ===============================
*/

.services-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--tj-black-2);
}

.services-section .section-header {
    margin-left: auto;
    margin-right: auto;
}

.services-widget>a {
    color: inherit;
    text-decoration: none;
}

.services-widget .service-item {
    border-bottom: 1px solid var(--tj-theme-secondary);
    padding: 0 30px;
    position: relative;
    z-index: 2;
    gap: 20px;
    overflow: hidden; /* Hide overflow to prevent gradient overflow */
    transition: border-color 0.3s; /* Add transition for smooth border color change */
}

.services-widget .service-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--tj-theme-secondary); /* Initial background color */
    z-index: -1;
    transition: width 2s; /* Add transition for smooth width change */
}

.services-widget .service-item:hover::before {
    width: 100%; /* Expand width to create the animation */
    background: var(--tj-theme-primary);
   
}


.services-widget .service-item:hover {
    border-color: var(--tj-theme-primary); /* Change border color on hover */
}


.services-widget .service-item .number {
    color: var(--tj-theme-primary);
    font-size: 20px;
    font-weight: var(--tj-fw-bold);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.services-widget .service-item.current .number {
    color: var(--tj-white);
}

.services-widget .service-item.current.mleave .number {
    color: var(--tj-theme-primary);
}

.services-widget .service-item:hover .number {
    color: var(--tj-white);
}

.services-widget .service-item .left-box {
    width: calc(40% - 10px);
    padding: 30px 0;
    gap: 20px;
}

.services-widget .service-item .left-box .service-title {
    font-size: 30px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.services-widget .service-item .right-box {
    width: calc(60% - 10px);
    padding: 30px 0;
    padding-right: 15%;
}

.services-widget .service-item .right-box p:last-child {
    margin-bottom: 0;
}

.services-widget .active-bg {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    z-index: 1;
   -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.services-widget i {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 55px;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: var(--tj-theme-primary);
}

.services-widget .service-item.current i {
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    color: var(--tj-white);
}

.services-widget .service-item.current.mleave i {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    color: var(--tj-theme-primary);
}

.services-widget .service-item:hover i {
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    color: var(--tj-white);
}

.services-widget .service-item .service-link {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.service_details {
    padding: 0 40px 50px 40px;
}

.service_details_content .service_info .subtitle {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--tj-black-2);
    margin-bottom: 10px;
}

.service_details_content .service_info .title {
    color: var(--tj-black-2);
    margin-bottom: 10px;
}

.service_details_content .service_info .desc {
    font-size: 16px;
    color: var(--tj-theme-accent-1);
    margin-bottom: 20px;
}

.service_details_content .service_info .desc p:last-child {
    margin-bottom: 0;
}

.service_details_content .service_info ul {
    padding: 0;
    margin: 0;
    list-style: none;
    columns: 2;
}

.service_details_content .service_info ul li {
    display: block;
    font-size: 16px;
    color: var(--tj-theme-accent-1);
    font-weight: var(--tj-fw-medium);
    position: relative;
    z-index: 1;
    padding-left: 22px;
    margin-bottom: 5px;
}

.service_details_content .service_info ul li::before {
    content: "\f00c";
    font-family: var(--tj-ff-fontawesome);
    font-weight: var(--tj-fw-medium);
    color: var(--tj-theme-primary);
    position: absolute;
    left: 0;
    top: 0;
}

/* END: Services Section */

/*
* ===============================
*  START: Portfolio Section
* ===============================
*/


.portfolio-section {
    padding-top: 120px;
    padding-bottom: 80px;
    background: var(--tj-theme-accent-1);
}

.portfolio-section .section-header {
    margin-left: auto;
    margin-right: auto;
}

.portfolio-filter .button-group {
    background-color: var(--tj-black-2);
    border-radius: 60px;
    padding: 6px 8px;
    display: inline-block;
}

.portfolio-filter .button-group button {
    background: transparent;
    border: none;
    color: var(--tj-white);
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1;
    padding: 12px 25px;
    border-radius: 50px;
    z-index: 10;
    position: relative;
}

.portfolio-filter .button-group {
    position: relative;
}

.portfolio-filter .button-group .active-bg {
    border-radius: 50px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    z-index: 1;
    background: var(--tj-theme-primary);
    background: -o-linear-gradient( 190deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.portfolio-box {
    padding-top: 50px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.portfolio-box:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--tj-theme-primary);
    background: -o-linear-gradient( 190deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    -webkit-filter: blur(150px);
    filter: blur(150px);
}

.portfolio-box .portfolio-sizer {
    width: 48%;
}

.portfolio-box .portfolio-item {
    background-color: var(--tj-theme-accent-2);
    margin-bottom: 4%;
    padding: 36px 36px 0 36px;
    border-radius: 10px;
    width: 48%;
}

.portfolio-box .gutter-sizer {
    width: 4%;
}

.portfolio-box .portfolio-item--width2 {
    width: 22%;
}

.portfolio-box .image-box {
    padding-bottom: 30px;
    text-align: center;
}
.portfolio-box img{
    border-radius: 5px;
}

.portfolio-box .content-box {
    position: absolute;
    bottom: 15px;
    left: 0;
    background: #000;
    width: calc(100% - 40px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 auto;
    right: 0;
    padding: 20px;
    padding-right: 50px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    background: var(--tj-theme-primary);
    background: -o-linear-gradient( 190deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
}

.portfolio-box .portfolio-item:hover .content-box {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-box .portfolio-item .content-box .portfolio-title {
    font-size: 30px;
}

.portfolio-box .portfolio-item .content-box p {
    margin-bottom: 0;
}

.portfolio-box .portfolio-item .content-box .portfolio-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
    border: none;
    padding: 0;
}

.portfolio-box .portfolio-item .content-box i {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 25px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--tj-white);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.portfolio-box .portfolio-item:hover .content-box i {
    -webkit-transform: translateY(-50%) rotate(360deg);
    -ms-transform: translateY(-50%) rotate(360deg);
    transform: translateY(-50%) rotate(360deg);
}

/*  END: Portfolio Section */

/*
* ===============================
*  START: Resume Section
* ===============================
*/

.resume-section {
    padding-top: 120px;
    padding-bottom: 90px;
    background: var(--tj-black-2);
}

.resume-section .resume-item {
    margin-right: 100px;
}

.resume-widget .resume-item {
    position: relative;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: var(--tj-theme-accent-2);
    z-index: 10;
}

.resume-widget .resume-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    opacity: 0;
    z-index: -1;
    border-radius: 20px;
}

.resume-widget .resume-item:hover:before {
    background: var(--tj-theme-primary);
    background: -o-linear-gradient( 190deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    opacity: 1;
}

.resume-widget .resume-item .time {
    color: var(--tj-theme-primary);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 8px;
}

.resume-widget .resume-item:hover .time {
    color: var(--tj-white);
}

.resume-widget .resume-item .resume-title {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

/* END: Resume Section */

/*
* ===============================
*  START: Skills Section
* ===============================
*/

.skills-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--tj-theme-accent-1);
}

.skills-section .section-header {
    margin-left: auto;
    margin-right: auto;
}

.skills-widget {
    gap: 20px;
    row-gap: 30px;
}

.skill-item {
    width: 100%;
    text-align: center;
}

.skill-inner {
    border-radius: 25px;
    padding: 40px 15px 30px;
    background: var(--tj-theme-accent-2);
    border: 1px solid transparent;
    margin-bottom: 15px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.skill-item:hover .skill-inner {
    background: var(--tj-theme-secondary);
    border: 1px solid var(--tj-theme-primary);
}

.skill-item .icon-box {
    max-width: 60px;
    width: 100%;
    margin: 0 auto 30px;
}

.skill-item .icon-box img {
    filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.skill-item:hover .icon-box img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.skill-item .number {
    color: var(--tj-grey-1);
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
}

.skill-item:hover .number {
    color: var(--tj-theme-primary);
}

.skill-item p {
    color: var(--tj-theme-primary);
    margin-bottom: 0;
}

/*  END: Skills Section */

/*
* ===============================
*  START: Testimonials Section
* ===============================
*/

.testimonial-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--tj-black-2);
    position: relative;
}

.testimonial-section:before {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 15%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: var(--tj-theme-primary);
    background: -o-linear-gradient( 190deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    -webkit-filter: blur(150px);
    filter: blur(150px);
}

.testimonials-widget .testimonial-item {
    background: var(--tj-theme-accent-2);
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
    padding: 25px;
}

.testimonials-widget .testimonial-item .top-area {
    margin-bottom: 20px;
}

.testimonials-widget .testimonial-item .image-box {
    width: 40%;
    max-width: 120px;
}

.testimonials-widget .testimonial-item .image-box img {
    border-radius: 5px 5px 5px 125px;
}

.testimonials-widget .testimonial-item .logo-box {
    max-width: 100px;
    width: 100%;
}
.testimonials-widget .testimonial-item .logo-box img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.testimonials-widget .testimonial-item .icon-box {
    margin-bottom: 25px;
}

.testimonials-widget .testimonial-item .icon-box svg {
    margin-right: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition-delay: 1.5s;
    transition: 0.4s;
}

.testimonials-widget .owl-item.active .testimonial-item .icon-box svg:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.testimonials-widget .owl-item.active .testimonial-item .icon-box svg:last-child {
    -webkit-transform: translateX(-22px) rotate(135deg);
    -ms-transform: translateX(-22px) rotate(135deg);
    transform: translateX(-22px) rotate(135deg);
}

.testimonials-widget .testimonial-item .quote {
    font-size: 16px;
    margin-bottom: 50px;
}

.testimonials-widget .testimonial-item .name {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--tj-white);
}

.testimonials-widget .testimonial-item span.designation {
    font-size: 14px;
    display: block;
}

/* END: Testimonials Section */

/*
* ===============================
*  START: Blog Section
* ===============================
*/

.blog-section {
    padding-top: 120px;
    padding-bottom: 90px;
    background: var(--tj-theme-accent-1);
}

.blog-section .section-header {
    margin-left: auto;
    margin-right: auto;
}

.blog-item {
    background: var(--tj-theme-accent-2);
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto 30px;
    position: relative;
    z-index: 1;
}

.blog-item .blog-thumb {
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.blog-item .blog-thumb .category {
    display: inline-block;
    background-size: 200%;
    background-image: linear-gradient( 90deg, var(--tj-theme-primary) 0%, var(--tj-theme-secondary) 110.61%);
    text-decoration: none;
    color: var(--tj-white);
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 2;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
    padding: 7px 10px;
    border-radius: 50px;
    transition: 0.4s;
}

.blog-item .blog-thumb .category:hover {
    background-size: 100%;
}

.blog-item .blog-thumb a {
    display: block;
}

.blog-item .blog-thumb img {
    width: 100%;
    border-radius: 15px;
    transition: all 0.5s ease-in-out 0s;
}

.blog-item:hover .blog-thumb img {
    transform: scale(1.1);
}

.blog-item .blog-content {
    padding: 15px 15px 20px;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: calc(100% - 40px);
    border-radius: 15px;
    background: var(--tj-theme-secondary);
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.blog-item .blog-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    background: -o-linear-gradient( 190deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    opacity: 0;
    z-index: -1;
    border-radius: 15px;
}

.blog-item:hover .blog-content:before {
    opacity: 1;
}

.blog-item .blog-meta {
    margin-bottom: 10px;
}

.blog-meta ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.blog-meta ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    color: var(--tj-theme-primary);
    font-weight: var(--tj-fw-medium);
    transition: all 0.5s ease-in-out 0s;
}

.blog-item:hover .blog-meta li {
    color: var(--tj-body);
}

.blog-meta ul li i {
    line-height: 1;
    margin-right: 5px;
}

.blog-meta ul li a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
}

.blog-item .blog-content .blog-title {
    color: var(--tj-white);
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 0;
    transition: all 0.4s ease-in-out 0s;
}

/* END: Blog Section */

/*
* ===============================
*  START: Contact Section
* ===============================
*/

.contact-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--tj-black-2);
    position: relative;
}

.contact-form-box {
    background: var(--tj-theme-accent-2);
    padding: 50px;
    border-radius: 15px;
}

.form_group {
    margin-bottom: 15px;
    width: 100%;
}

.form_group select,
.form_group .nice-select,
.form_group input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
.form_group textarea {
    display: block;
    width: 100%;
    background: var(--tj-black-2);
    border: 1px solid var(--tj-grey-4);
    font-size: 16px;
    line-height: 1;
    color: var(--tj-white);
    padding: 14px 20px;
    border-radius: 8px;
    transition: all 0.3s 0s ease-out;
    outline: none;
    height: auto;
}

.form_group .nice-select {
    padding: 17px 20px;
}

.form_group textarea {
    height: 200px;
    resize: none;
}

.form_group input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]):focus,
.form_group textarea:focus {
    border-color: var(--tj-theme-primary);
}

.form_btn .btn {
    padding: 20px 35px;
}

.contact-info-list li {
    padding-left: 75px;
    margin-bottom: 40px;
}

.contact-info-list li:last-child {
    margin-bottom: 0;
}

.contact-info-list .icon-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: -o-linear-gradient( 289deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    background: linear-gradient( 161deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}

.contact-info-list .text-box p {
    margin-bottom: 3px;
}

.contact-info-list .text-box a {
    font-size: 20px;
    font-weight: var(--tj-fw-medium);
    color: var(--tj-white);
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
}

.contact-info-list .text-box a:hover {
    color: var(--tj-theme-primary);
}

/* END: Contact Section */

/*
* ===============================
*  START: Footer Area
* ===============================
*/

.tj-footer-area {
    background: var(--tj-theme-accent-1);
    padding: 50px 0 20px;
}

.footer-logo-box {
    max-width: 75px;
    width: 100%;
    margin: 0 auto 35px;
}

.footer-logo-box a {
    display: inline-block;
}

.footer-menu ul {
    margin: 0 0 27px;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 35px;
}

.footer-menu ul li a {
    color: var(--tj-white);
    font-size: var(--tj-fz-btn);
    font-weight: var(--tj-fw-bold);
    text-decoration: none;
    position: relative;
}

.footer-menu ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background: var(--tj-theme-primary);
    background: -o-linear-gradient( 190deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    background: linear-gradient( 260deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    bottom: -1px;
    left: 0;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.footer-menu ul li a:hover::before {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.copy-text{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.copy-text p {
    margin-bottom: 0;
    color: var(--tj-theme-primary);
    font-weight: var(--tj-fw-light);
}

.copy-text p>a {
    text-decoration: none;
    color: inherit;
    font-weight: var(--tj-fw-medium);
    font-family: inherit;
}

.copy-text p>a:hover {
    color: var(--tj-theme-primary);
}

/* END: Footer Area */

.project-Description {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid black;
    border-radius: 10px;
    z-index: 999;
    backdrop-filter: blur(20px);
    width: 90vw;
    height: 90vh;
    transition: 200ms ease-in-out;
    display: block;
    overflow: auto;
    overflow-x: hidden;
    background: linear-gradient(to right, rgba(54, 0, 116, 0.5), rgb(29, 0, 51,0.5));

}

@media screen and (max-width: 530px) {
    .project-Description {
        width: 100vw;
        height:100vh,
    }
}

/* Customize scrollbar */
.project-Description::-webkit-scrollbar {
    width: 5px; /* Set width of the scrollbar */
    border-radius: 10px; /* Set border radius to make it round */
}

/* Track */
.project-Description::-webkit-scrollbar-track {
    background: #5a48699d; /* Set track background color */
    border-radius: 20px;
}

/* Handle */
.project-Description::-webkit-scrollbar-thumb {
    background: #4200ab; /* Set thumb color */
    border-radius: 10px; /* Set thumb border radius */

}

/* Handle on hover */
.project-Description::-webkit-scrollbar-thumb:hover {
    background: #6a00ff; /* Set thumb color on hover */
}
.project-Description-Media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
}

.project-Description-Media img {
    height: auto;
    border-radius: 10px;
    padding: 10px;
    
}

.project-Description-Header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    font-family: 'Roboto', sans-serif; /* Example custom font */
}

.project-Description-Header .title {
    font-size: 2rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.project-Description-Header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: black;
    padding-left: 20px;
    padding-right:20px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Example custom font */
    color: white;
    right: 0;
    top: 0;
    margin: 20px;
    position: absolute;
    
}

.project-Description-body{
    padding: 20px 15px 10px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Example custom font */
    font-size: 20px;
    text-align: justify;
    color: white
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height:width) */
    padding-top: 30px; /* Optional: Add some top padding to prevent content from touching the top of the container */
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#overlayPopUp{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(74, 0, 139, 0.232);
    z-index: 20;
    transition: 200ms ease-in-out;
    pointer-events: all;
    opacity: 1;
    display: block;
}

#overlayPopUpService
{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(74, 0, 139, 0.232);
    z-index: -1;
    transition: 200ms ease-in-out;
    pointer-events: all;
    opacity: 1;
    display: block;

}
.project-Description .instructions{
    font-size: 19px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.copy-text{

    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    color: white
    
}
.copy-text input{
     width: 100%;
     color: black
}
.copy-text input.text{
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.copy-text button{
    width: 60px;
    height: 50px;
    background: #5784f5;
    color:#fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.copy-text button:active{
    background: #809ce2;
}

.copy-text button:before{
    content: "Copied";
    position: absolute;
    top: -50px;
    right: 0px;
    background: #5c81dc;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.copy-text button:after{
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform:rotate(45deg);
    display:none;
}
.copy-text.active button:before,
.copy-text.active button::after{
    display: block;
}
.buttonSeparator{
    display: flex;
    justify-content: space-between;
}




.closeBtn {
    border: none;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    color: #fff;
    z-index: 1;
    display: flex;
    background: #2f2f2f;
    position: relative;
    cursor: pointer;
}
      
  
  .closeBtn p {
    margin: 0 auto;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .closeBtn::after {
    position: absolute;
    content: "";
    width: 100%;
    z-index: -1;
    height: 10%;
    bottom: 0;
    border-radius: 5px;
    clip-path: polygon(
      0% 74%,
      4% 75%,
      8% 76%,
      11% 77%,
      15% 78%,
      20% 78%,
      25% 77%,
      32% 77%,
      37% 75%,
      40% 74%,
      43% 74%,
      46% 73%,
      52% 72%,
      57% 72%,
      65% 74%,
      66% 75%,
      71% 78%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%
    );
    background: #b187eb;
    transition: 0.2s ease;
  }
  
  .closeBtn::before {
    border-radius: 5px;
    position: absolute;
    content: "";
    /*   bottom: 80%; */
    transform: rotate(180deg);
    width: 99%;
    height: 10%;
    transition: 0.2s ease;
    /*   bottom:; */
    z-index: -1;
    clip-path: polygon(
      0% 74%,
      4% 75%,
      8% 76%,
      11% 77%,
      15% 78%,
      20% 78%,
      25% 77%,
      32% 77%,
      37% 75%,
      40% 74%,
      43% 74%,
      46% 73%,
      52% 72%,
      57% 72%,
      65% 74%,
      66% 75%,
      71% 78%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%
    );
    background: #a587eb;
  }
  
  .closeBtn:hover::after {
    clip-path: polygon(
      0 30%,
      9% 34%,
      7% 39%,
      11% 43%,
      13% 33%,
      17% 30%,
      24% 34%,
      25% 35%,
      30% 31%,
      30% 38%,
      39% 33%,
      35% 43%,
      43% 45%,
      55% 46%,
      65% 74%,
      67% 66%,
      81% 57%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%
    );
    height: 80%;
  }
  
  .closeBtn:hover::before {
    clip-path: polygon(
      0 30%,
      9% 34%,
      7% 39%,
      11% 43%,
      13% 33%,
      17% 30%,
      24% 34%,
      25% 35%,
      30% 31%,
      30% 38%,
      39% 33%,
      35% 43%,
      43% 45%,
      55% 46%,
      65% 74%,
      67% 66%,
      81% 57%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%
    );
    height: 80%;
  }
  









.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}
