.carouselImage img{
    width: 100%;
    height: 50vh;
    object-fit: cover;

}
.blog-list {
  flex-wrap: wrap;
  padding: 20px;
  background-color: #2a1454;
}


.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px; /* Spacing between cards */
}
